* {
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.card-container {
  width: 380px;
  margin: 1rem 1rem;
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 1rem;
  box-shadow: 7px 7px 0 0 hsl(0, 0%, 7%);
  color: hsl(0, 0%, 7%);
}

.card-image {
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
}

.card-tags {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  padding: 0.5em 0.8em;
  margin: 1em 0 0 0;
  font-size: 0.95rem;
  font-weight: 800;
  border-radius: 5px;
}

.card-date {
  font-weight: 500;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.card-title:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.card-description {
  color: hsl(0, 0%, 42%);
  margin: 1.5em 0;
}

.author-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-avatar {
  width: 35px;
  height: 35px;
}

.card-author {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 800;
  margin: 0 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  .card-container {
    width: 90%;
  }

  .card-title {
    font-size: 1.4rem;
  }
}
